@media only screen and (max-width: 530px) {
  /* Reducing h1 text size for mobile screens */
  .navbar .center {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 430px) {
  /* Shifts icons in h1 onto own lines */
  .navbar .center i {
    display: block;
    line-height: 1.25;
  }
}

li {
  font-weight: bold;
  background-color: lightblue;
  max-width: 15%;
}
#fiveDay .card {
  border: 1px solid white !important;
}
